@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  width: 100%;
  font-family: "Poppins", sans-serif;
}
.links{
    background-color: #ddd;
    font-size: 2.5rem;
}
ul{
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding: 2rem;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: rgb(199, 28, 190);
    font-weight: 900;
}
.blogs-content{
  background-image: linear-gradient(rgba(10, 99, 143, 0.979),rgba(245, 247, 248, 0.979),rgba(10, 99, 143, 0.979)),
    url(../images/computer.png);
    background-size: cover;
}
.all-see{
  display: flex;
  justify-content: space-around;
  padding: 3rem;
}
.all-see li{
  padding: 1rem;
  border-radius: 2rem;
  font-size: 2rem;
  
}
.all-see li a{
  color: rgb(133, 28, 127);
  font-weight: 800;
}
.all-see li:hover{
  background-color: aqua;
}
p{
    font-weight: bold;
    padding: 20% 20%;
    font-size: 3rem;  
}