@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  color: #eee;
  width: 100%;

  font-family: "Poppins", sans-serif;
}
.peter{
    background-color: #00000063;
    justify-content: center;
  }
  .in{
    display: flex;
    gap: 3rem;
    font-size: 3rem;
  }
  .in li{
    list-style: none;
  }
  .nav-link{
    font-size: 3rem;
  }
  .home{
    background-image: linear-gradient(to right, rgba(11, 199, 11, 0.726), #460231d7, #1707f8d7),url(../images/notbook\ 4.png);
    justify-content: center;
    object-fit: cover;
    background-repeat:no-repeat;
  }
  h1{
    font-size: 3rem;
    text-align: center;
  }
  .home label{
    font-size: 2rem;
    color: whitesmoke;
    font-weight: bold;
  }
  .home input{
    width: 100%;
    border-radius: 1.5rem;
  }
  p{
    font-size: 2rem;
  }
  button{
    font-size: 2rem;
    margin: 3rem;
    padding: 1.3rem 3rem;
    border-radius: 1.5rem;
  }
  a{
    color: blue;
  }
  .sinup a{
    padding: 1.3rem 15rem;
  } 