@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  color: #eee;

  font-family: "Poppins", sans-serif;
}
/* --------------------------------------------------nav itaboneka----------------------------------------------- */
.nav-icon{
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 9999;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  scroll-behavior: smooth;
  display: none;

}
.logoo-icon{
  background-color: rgb(255, 0, 191);
  padding: 7rem 2rem;
}
.icon-nav-link{
  background-color: #064f6b;
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  list-style: none;
}
.icon-nav-link .nav-link{
  margin-left: 2rem;
  
}

/* ----------------------------------------------------------------------------- */
nav {
  padding: 2rem;
  display: flex;
  z-index: 9999;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  scroll-behavior: smooth;
  width: 100%;
  box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.116);
  justify-content: space-between;
  align-items: center;
  background-color: #147ca5;
}
.logo {
  font-size: 2.8rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: whitesmoke;
  transition: all 0.3s;
  cursor: pointer;
}
.logo:hover {
  transform: translate(3px, -3px);
}
.nav-links {
  display: flex;
  gap: 2rem;
  list-style-type: none;
}
.nav-link:link,
.nav-link:visited {
  color: #fffcfc;
  display: inline-block;
  padding: 1rem 0;
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s;
}

.btn-green:link,
.btn-green:visited {
  background-color: rgb(255, 0, 191);
  color: #eee;
  transition: all 0.3s;
}
.btn:link,
.btn:visited {
  padding: 1rem 3rem;
  border-radius: 0.8rem;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 2px 3px 3px #e76f6fbc;
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 2px 3px 3px #e76f6f4d;
}
.btn-green:hover {
  background-color: rgb(124, 7, 95);
}

.home-container {
  width: 100%;
  height: 100vh;
  background-color: #9e9a9a;
  
  background-image: url(../images/home\ 4.png);
  background-size: cover;
  background-position: center center;
  object-fit: cover;
  background-attachment: fixed;
}
.home {
  display: flex;
  align-items: center;
  padding: 3rem;
  width: 100%;
  height: 100%;

  justify-content: space-evenly;
}

.welcome-text {
  background-color: #7e7c7c;
  padding: 3rem;
  width: 40%;
  outline: 5px solid green;

  /* border: 3px solid green; */
  outline-offset: 1rem;
}
.welcome-text h5 {
  color: rgb(255, 0, 191);
  font-weight: 400;
  font-size: 1.8rem;
}
.salutation {
  display: block;
  text-align: center;
  margin-bottom: 1.2rem;
}
.name {
  color: #fff;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.2rem;
  display: block;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 2.8rem;
}
.welcome-text p {
  font-size: 1.6rem;
  color: #070000;
  font-weight: 400;
  text-align: center;
}
.image-container {
  display: flex;
  align-items: center;

  justify-content: center;
  width: 35%;
}
.image-container img {
    width: 60%;
  border-radius: 60%;
  cursor: pointer;
  transition: 0.2;
  object-fit: cover;
}
.image-container img:hover{
  transform: translate(-4px, -4px)rotate(-20deg);
}
.text-center {
  text-align: center;
}

.button-container {
  display: block;

  margin-top: 3rem;
  transition: all 0.3s;
  backface-visibility: hidden;
}
.btn-none:link,
.btn-none:visited {
  color: white;
  background-color: rgb(231, 107, 200);
  font-size: 1.6rem;
  border: 1px solid rgb(255, 0, 191);
  transition: all 0.3s;
}
.btn-none:hover,
.btn-none:active {
  background-color: rgb(255, 0, 191);;
}
.about-container,
.portfolio-container,
.skills-container,
.contact-conatiner {
  padding: 8rem 10rem;
}
.about-container {
  background-color: #6395a8ab;;
}

.heading-title {
  font-size: 4.8rem;
  font-weight: 700;
  letter-spacing: 4px;
  padding: 1rem;
  /* display: block; */
  display: inline-block;
  color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient( rgb(174, 13, 206), rgb(252, 252, 252));
  position: relative;
}
.heading-title::before {
  content: " ";
  bottom: 0%;
  left: 0%;
  height: 5px;
  width: 25%;
  background-color: #0a4963;
  /* background-image: linear-gradient(to right, #0af344, rgba(174, 9, 196, 0.89), rgb(33, 11, 226)); */
  position: absolute;
  font-size: 1.2rem;
}
.heading-title::after {
  content: " ";
  top: 0%;
  right: 0%;
  height: 5px;
  width: 60%;
  background-color: whitesmoke;
  /* background-image: linear-gradient(to right, #0fd85cd8, rgba(231, 20, 221, 0.897), rgba(93, 13, 223, 0.849)); */
  position: absolute;
  font-size: 1.2rem;
}
.img-bg {
  background-image: linear-gradient(
    to right bottom,
    #9329298a,
     rgba(255, 255, 255, 0.678)); 
          width: 35%;
        } 
    
      .links-media-fixed {
        /* background-color: red; */
        display: none;
      }
      .email-link-fixed {
        display: none;
      }
      .logo {
        font-size: 2.2rem;
      }
    
      .nav-links {
        gap: 1.5rem;
      }
      .nav-link:link,
      .nav-link:visited {
        font-size: 1.6rem;
      }
    @media (max-width: 992px) {
      .active {
        display: none;
      }
      .card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
      }
      .about {
        display: flex;
        flex-direction: column-reverse;
        padding-top: 3rem;
      }
      .about-image {
        width: 45%;
      }
      .home-container {
        height: auto;
      }
      .image-container {
        height: 200px;
      }
      .welcome-text {
        width: 80%;
        padding: 1rem;
      }
      .image-container img {
        height: 100%;
      }
      .home {
        display: flex;
    
        flex-direction: column-reverse;
      }
    
      .nav {
        display: flex;
        justify-content: space-between;
      }
      .nav-links {
        display: none;
      }
      .nav-links.active {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 0;
        top: 70px;
        width: 100%;
        height: 100vh;
    
        background-color: #222;
        flex-direction: column;
      }
      .nav-links li {
        width: 100%;
        text-align: center;
      }
      .nav-links li:hover .nav-link {
        background-color: #ccc;
        width: 100%;
        color: black;
        border: none;
      }
    
      .menu-icon {
        display: flex;
      }
    }
    @media (max-width: 768px) {
      .about-container,
      .portfolio-container,
      .skills-container,
      .contact-conatiner {
        padding: 8rem 2rem;
      }
      .welcome-text {
        width: 100%;
      }
      .card-container {
        display: flex;
        flex-direction: column;
      }
    }
    @media (max-width: 576px) {
      .heading-title {
        font-size: 3.2rem;
      }
    }
.about {
  display: flex;

  width: 100%;
  gap: 3rem;
  align-items: center;
  justify-content: space-around;
}
.about-text p {
  font-size: 1.8rem;
  margin-bottom: 3rem;
  color: #000;
}
.text-left {
  text-align: left !important;
}
.about-image {
  width: 90%;
  padding: 3rem;
  transition: all 0.3s;
  position: relative;
  border: none;
}

.about-image:hover::before {
  border: 1rem solid rgb(149, 7, 168);
  
  width: 100%;
  height: 100%;
}
.about-image::before {
  content: " ";
  position: absolute;

  top: 0;
  left: 0;
  padding: 2rem;
  display: block;
  border-left: 1rem solid #c31eec;
  border-top: 1rem solid #bc09e0fd;
}
.about-image::after {
  content: " ";
  position: absolute;
  display: block;
  bottom: 0;
  right: 0;
  padding: 2rem;
  border-right: 1rem solid #8f05aa;
  border-bottom: 1rem solid #9703b4fd;
}
.about-image img {
  width: 100%;
}
.portfolio-container,
.contact-conatiner {
  background-color: #0a4963;
}
.card-container {
  display: flex;

  justify-content: space-between;
  gap: 3rem;
  margin-top: 8rem;
}
.card {
  background-color: #03b0fa;
  border-radius: 0.8rem;

  padding: 3rem;
  box-shadow: 1px 3px 3px rgba(255, 255, 255, 0.062);
  transition: all 0.3s;
}
.card:hover {
  background-color: rgb(217, 35, 241);
  transform: translate(10px, -10px);
}
.card-container i {
  font-size: 4.8rem;
  font-weight: bold;

  margin-bottom: 2rem;
  color: #eee;
}

.card-container h3 {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 2rem;
  color: #eee;
}
.card-container p {
  font-size: 1.4rem;
  color: #eee;
}

.link-portfolio:link,
.link-portfolio:visited {
  color: #eee;
  text-decoration: none;
  font-size: 1.4rem;
  display: inline-block;
  margin-top: 2rem;
}
.button-container{
  gap: 2rem;
}
/* ---------------------------------------PORTIFORIOL----------------- */
.skills-container {
  background-color: #ffffff;
}
.images-container {
  display: flex;
  margin-top: 8rem;
  justify-content: space-between;
  gap: 3rem;
}
.skills-card{
  max-width: 100%;
  max-height: 50%;
  position: relative;
  overflow: hidden;
}
.skills-card img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 12px;
}
.skills-content:hover .skills-content--content {
  display: flex;
}
@keyframes scroll {
  0% {
    transform: translateY(80%);
  }
  100% {
      transform: translateY(0%);
    }
  }
  .skills-content {
      border-radius: 12px;
      transition: all 10s;
      position: absolute;
      top: 0;
      left: 0;
      overflow-y: hidden;
      width: 100%;
      height: 100%;
    }
    .skills-content--content {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
      display: none;
      overflow: hidden;
    
      align-items: center;
      border-radius: 12px;
      padding: 3rem;
      transition: all 0.8s;
      animation-name: scroll;
      animation-duration: 1s;
      backdrop-filter: blur;
      justify-content: center;
      background-image: linear-gradient(
        to left bottom,
        rgba(0, 128, 0, 0.625),
        rgba(147, 42, 42, 0.682)
      );
      border-bottom: 2px solid rgb(78, 221, 78);
    }
    
    .skills-content--content h3 {
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
      font-weight: 700;
    }
    .skills-content--content p {
      font-size: 1rem;
    }
.skills-icon-container {
  background-color: #eee;
  display: block;
  margin-top: 1.5rem;
  padding: 1.5rem;
  border-radius: 50%;
}
.skills-content--content i {
  font-size: 1.6rem;
  cursor: pointer;
}

.contact {
  margin-top: 8rem;
  display: flex;
  justify-content: center;
  gap: 3rem;
  width: 100%;
}
.contact-left {
  background-color: whitesmoke;
  padding: 3rem;
  width: 40%;
  transition: 0.3s;
  cursor: pointer;
}
.contact-left:hover{
  transform: translate(-4px, 4px);
}
.contact-right {
  padding: 3rem;
  width: 45%;
  background-image: linear-gradient(to left bottom, #6e6c6c, #fffdfd);
  transition: 0.3s;
  cursor: pointer;
}
.contact-right:hover{
  transform: translate(-4px, 4px);
}
.contact-right h3 {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
}
.contact-left h3 {
  font-size: 2.4rem;
  color: #070000;
}
.contact-left p {
  font-size: 1.6rem;
  color: #070000;
}
.text-welcome {
  margin-top: 2rem;
}
.contact-left span {
  display: block;
}

.social-media {
  margin-top: 2rem;
}
.media-icons {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 2rem;
}
.media-icons i {
  font-size: 1.8rem;
}
.media-icons h3 {
  font-size: 1.8rem;
}
.media-icons p {
  font-size: 1.6rem;
  font-weight: 400;
}
.media-icons span {
  display: block;
}

.social-media-icons-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.social-media-icons-links {
  font-size: 1.8rem;
}
form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
  justify-content: center;
}
input,
textarea {
  padding: 1.5rem;
}
.btn-red:link,
.btn-red:visited {
  background-color: green;
  color: white;
  font-size: 1.6rem;
  transition: all 0.3s;
}
.btn-red:hover,
.btn-red:active {
  background-color: rgb(107, 170, 107);
}
.footer-container {
  background-color: #147ca5;
  padding: 2rem;
  text-align: center;
}
.footer-container p {
  font-size: 1.6rem;
}
.links-media-fixed {
  position: fixed;
  display: flex;

  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  bottom: 0;
  text-align: center;
  gap: 2rem;
  left: 2%;
}
.git {
  font-size: 1.8rem;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s;
}
.git:hover {
  color: green;
  transform: translate(3px, -5px);
}

.links-media-fixed::after,
.email-link-fixed::after {
  content: "";
  display: flex;

  justify-self: center;
  height: 150px;
  width: 3px;

  background-color: #ccc;
}
.email-link-fixed {
  text-align: center;
  right: 2%;
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  bottom: 0;
}

.email-link-fixed p {
  -webkit-writing-mode: vertical-rl;

  font-size: 1.6rem;
}
.menu-icon {
  display: none;
}
.menu-icon i {
  font-size: 3rem;
}
.button-container{
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.button-container button{
  font-size: 1.8rem;
  width: 100%;
  padding: 0.2rem;
  background-color: rgb(206, 82, 223);
}
.button-container button:hover{
  background-color: rgb(131, 17, 146);
}
/* ------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------ */
